<div class="content skills">
<div class="header"> 
<h1>Skills</h1>
</div>
<div class="body">
<ul>
<li>
<h2>Languages</h2>
<p>I use the following languages on a daily basis: JavaScript, CSS, HTML, Python</p>
<p>I have also worked with: Java, Scala, C#, Lisp, Ocaml, Prologue</p>
</li>
<li>
<h2>Technologies & Frameworks</h2>
<p>Django, jQuery, Backbone.js, LESS/SASS, Git, AWS, Heroku, MySQL, PostgresSQL</p>
</li>
<li>
<h2>Human Languages</h2>
<p>I am fluent in Ukrainian, Russian, English and French.<br>Spanish, German and Japanese are on the TODO list.</p>
</li>
</ul>
</div>
</div>