<header>
 <h1>Work</h1>
</header>
<div class="body"> 
<ul>
  <li>
    <h2>Orange - Software Engineer</h2>
    <p class="context">San Francisco, CA<br/>2011-2012</p>
    <p>At Orange I was working in a team of 3 on Xendo, enterprise cloud search application. I was responsible for building the application stack for the service and later was primarily focusing on the front end to create responsive interaction experience.</p>
  </li>
  <li>
    <h2>Orange - Intern</h2>
    <p class="context">San Francisco, CA<br/>2011</p>
    <p>During my internship at Orange I was working on an enterprise knowledge management system. I built a Dropbox like client monitoring person's work documents, doing entity extraction on them and aggregating this data to build a comprehensive profile identifying person's areas of competence within a company.</p>
  </li>
  <li>
    <h2>Alcatel Lucent - Intern</h2>
    <p class="context">Brest, France<br/>2010-2011</p>
    <p>I joined the Genesys division of Alcatel Lucent to work on porting their existing call center desktop solution to the Silverlight platform. I was responsible for designing migration strategies for the existing code base and successfully migrated the core of the service from WPF to Silverlight.</p>
  </li>
</ul>
</div>