<div class="content future">
  <div class="header">      
    <h1>Future</h1>
  </div>
  <div class="body">
    <ul>
      <li>
        <h2>What I am looking for</h2>
        <p>A company with a noble goal and a clear vision<br> 
Working on a Product that makes people's lives better<br>
People with an outstanding product design sense, solid engineering skills and design aesthetic<br>
Environment where I can have most impact on the product and the people using it<br>
</p>
      </li>
    </ul>
  </div>
</div>