<div class="content projects">
       <div class="header"> 
        <h1>Projects</h1>
       </div>
       <div class="body"> 
         <ul>
          <li>
            <h2>Remotes.io</h2>
            <p class="context">
              <a target="_blank" href="http://remotes.io">remotes.io</a>
              <a target="_blank" href="https://github.com/Remotes">Github</a>
            </p>
            <p>Remotes.io is an open source platform allowing developers to easily add a phone based remote control functionality to their web applications as an alternative to standard input devices like mouse and keyboard. I am one of the two core developers on the project responsible for the vision, architecture and implementation. The project is in its nascency. Remotes.io is already integrated as a plugin in a popular open source presentation framework <a target="_blank" href="https://github.com/hakimel/reveal.js">Reveal.js</a>.</p>
          </li>
          <li>
            <h2>SoundSturm</h2>
            <p class="context">
              <a target="_blank" href="http://soundsturm.com">soundsturm.com</a>
            </p>
            <p>A proof-of-concept implementation of a jukebox-like SoundCloud client. The app is entirely controlled using a keyboard (no mouse support) and also has a custom integration with Remotes.io (not public yet). Beautiful design by my friend <a target="_blank" href="http://www.hyacinthe.us/">Hyacinthe Briand</a>.</p>
          </li>
          <li>
            <h2>Xendo</h2>
            <p class="context">
              <a target="_blank" href="http://xen.do">xen.do</a>
            </p>
            <p>Xendo aggregates person's content across over 12 popular cloud services providing unified search experience. I built the web stack for the service and did some work on the search and communication backend.</p>
          </li>
          <li>
            <h2>Django Heroku Bootstrap</h2>
            <p class="context"><a target="_blank" href="http://callmephilip.github.com/django-heroku-bootstrap/">Github</a></p>
            <p>Boostrapping project for Django on Heroku. Irons out the nitty-gritty of taking a Django based app live on Heroku in &lt; 5 minutes. Scratching my own itch and sharing with others.</p>
          </li>
          <li>
            <h2>PitchKlub</h2>
            <p class="context"><a target="_blank" href="http://pitchklub.com">pitchklub.com</a></p>
            <p> A tool for collecting real time feedback on person's public speaking skills. Mostly interesting for how traumatising the experience turned out for most people's egos. Also, my first attempt at a somewhat user friendly mobile web experience.</p>
          </li>
          <li>
            <h2>Shakido</h2>
            <p class="context"><a target="_blank" href="http://www.dailymotion.com/video/xtfkrs_shakido-demo_tech">Presentation at TC Disrupt Hackathon</a></p>
            <p>Shakido is like turntable.fm where people can show their appreciation of music by shaking their phones. Every tune playing is given a certain amount of energy that decays with time, unless people shake their phones to provide energy boosts. Each person's shakes are visualized on a screen. The shakes' amplitudes contribute to the energy level of the room. Nobody dances -> no shakes -> next song. Designed, built and shipped in &lt; 24 with my friends Tim, Hycianthe and Matt during TechCrunch Disrupt 2012. Shakido uses SoundCloud API, of course.</p>
          </li>
          <li>
            <h2>imh0 - Social surveys</h2>
            <p class="context"><a target="_blank" href="http://imh0.com">imh0.com</a></p>
            <p>A tool for social surveys allowing survey creators to get access to demographic data around responses (e.g. 20% of man from France prefer red socks over blue). Imho uses facebook to augment survey responses with profile data of the responders and aggregate stats accross various groups.</p>
          </li>
        </ul>
      </div>
      </div>