<div class="content studies" >
        <div class="header studies">
          <h1>Studies</h1>
        </div>
        <div class="body">
          <ul>
            <li> 
              <h2>TELECOM Bretagne - MSc Engineering</h2>
              <p class="context">France<br/>2008-2011</p>
                <p>I majored in Software Engineering.<br>Also took some classes in Data Mining, NLP, Functional programming and basic Signal Proccessing.</p>
            </li>
            <li>
              <h2>KTU - BSc Computer Science</h2>
              <p class="context">Ukraine<br/>2003-2008</p>
              <p>Computer Science Major.</p>
            </li>
          </ul>
       </div>
     </div>