<div class="get-a-bigger-screen">
  Check this page out on a bigger screen
</div>

<div id="world-container">
  {{view "views/Boxes" __id="perspective-container" }}
</div>  
    
<div class="splash hidden"></div>
  
<div id="side-panel">
   {{view "views/SidePanel" __class="content" }}
</div>

<div id="cv" class="hidden">
   {{view "views/CV" __class="wrapper" }}
</div>
    
<div class="the-end" >
  <img src="https://dl.dropbox.com/u/9224326/cv/icons/theend.png">
</div>
    
<ul class="meta hide-on-desktop">
  <li>Code -> <a target="_blank" href="#">Github</a></li>
  <li>Icons -> <a target="_blank" href="http://thenounproject.com/">The Noun Project</a></li>
</ul>