<div class="sections"> 
  <a href="#" class="close-btn"></a>
  {{view "views/Section" __tagName="article" __class="content projects" kind="projects"}}
  {{view "views/Section" __tagName="article" __class="content skills" kind="skills"}}
  {{view "views/Section" __tagName="article" __class="content work" kind="work"}}
  {{view "views/Section" __tagName="article" __class="content studies" kind="studies"}}
  {{view "views/Section" __tagName="article" __class="content fun" kind="fun"}}
  {{view "views/Section" __tagName="article" __class="content future" kind="future"}}
</div>